manage-package-manager-versions=false
package-manager-strict=false
pm-on-fail=ignore
pmOnFail=ignore
confirm-modules-purge=false

# Network Resiliency Settings
fetch-retries=10
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
network-concurrency=2
