[run]
branch = True
relative_files = True

source =
    src

omit =
    src/api/websocket.py
    src/cli/*
    src/connectors/*
    src/models/*
    src/data/scrapers.py
    src/core/redis.py
    src/ml_ultra/*
    src/scrapers/*


[report]
show_missing = True
skip_covered = False

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    raise NotImplementedError
    except ImportError
    except Exception as e


[xml]
output = coverage.xml